<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419538004480-l58aeiq7i74lhnq53giejfkt0bcfbooj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419538004480-l58aeiq7i74lhnq53giejfkt0bcfbooj</string>
	<key>API_KEY</key>
	<string>AIzaSyBS8ceGNiGFm9jhwDdSwAkvNW1fsvin8Lw</string>
	<key>GCM_SENDER_ID</key>
	<string>419538004480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yaroslav.kukhar.diploma.watchOSApp</string>
	<key>PROJECT_ID</key>
	<string>nulp-diploma</string>
	<key>STORAGE_BUCKET</key>
	<string>nulp-diploma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419538004480:ios:4f70dbae3fd60caa7506e5</string>
	<key>DATABASE_URL</key>
	<string>https://nulp-diploma-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>